body{
    background-image: url(../../images/bg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background:linear-gradient rgba(12,12,12,0.4);
   
}

