 header{
     min-height: calc(100vh - 94px);
     background-image: url(../../images/logo/bg.head.jpg);
     background-position: center;
     background-attachment:center;
     background-size: cover;
     background-attachment: fixed;
     background-repeat: no-repeat;
     position: relative;
 }
 

//Toda a altura (-) o tamanho do header
 .row-bn{
     min-height: calc(100vh - 94px);
 }
 
 //Titulo

 .banner h1{
     border-top: 4px double $branco;
     border-bottom: 4px double $branco;
     animation: paraDireita;
     animation-duration: 3s;
     animation-fill-mode: forwards;
      
 }
//Animação do Titulo

 @keyframes paraDireita{
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    50%{
        transform: translateX(60px);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }

 }

 .banner h1 small{
     color: $branco;
     font-family: $fonte_principal;
 }
 .banner h1 strong{
    color: $amarelo_escuro;
    font-family: $fonte_principal;
}

//Botão de pedido

.pedir-btn{
    color: $branco;
    background-color: $marrom_escuro;
    font-size: 2rem;
    border: 2px solid $amarelo_escuro;
    transition: all 0.5s ease-in-out;
    animation: paraEsquerda;
    animation-duration: 4s;
    animation-fill-mode: forwards;

}

//Animação do botão de pedido

@keyframes paraEsquerda{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    50%{
        transform: translateX(-60px);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

//Seta para baixo

.btn-adiante{
    display: inline-block;
    position: absolute;
    bottom: 5%;
    left: 48%;
    color: $marrom_escuro;
    background-color: $laranja_maisClaro;
    border-radius: 10px;
    transition: all 0.6 ease-in-out;
    animation: paraBaixo;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}
.btn-adiante:hover{
    background-color: $amarelo;
    color: $marrom_escuro;
}

//Animação da Seta 

@keyframes paraBaixo{
    0%{
        transform: translateY(-10px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}



     
 
 