.modal-pedido{
    width: 350px;
}
.form-control{
    color: $marrom_escuro;
}
.form-control::placeholder{
    color: $laranja_escuro;
    font-style: italic;
}
.modal-pedido .modal-content{
    padding: 20px;
    border-radius: 5px;
    border: none;
}
.modal-pedido .modal-header{
    border-bottom: 2px solid #ccc;
    position: relative ;
}
.modal-pedido h4{
    font-family: $fonte_principal;
    font-size: 26px;
}
.modal-pedido .form-control:focus{
    border-color: $marrom_escuro;
    color: $marrom_escuro;
    font-weight: bold;
}
.modal-pedido .form-control .modal-login .btn{
    min-height: 40px;
    border-radius: 3px;
}
.modal-pedido .modal-footer{
    background-color: $marrom_escuro;
    text-align: center;
    justify-content: center;
    margin: 0 -20px -20px;
    font-size: 13px;
}
.modal-pedido .avatar{
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -70px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 1;
    background-color: $marrom_escuro;
    padding: 15px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
}
.modal-pedido .avatar img{
    width: 100%;
}
.modal-dialog{
    margin-top: 100px;
}
.modal-pedido .btn{
    color: $branco;
    font-family: $fonte_principal;
    background-color: $marrom_escuro;
    border-color: $marrom_escuro;
    text-decoration: none;
    transition: all 0.4s ease;
    font-weight: bold;
}
