// Variáveis de cores
$vermelho_escuro: #7e1819;
$marrom_escuro: #391005;
$marrom_claro: #ae986f;
$laranja_claro: #9f492f;
$laranja_maisClaro: #ffae58;
$laranja_escuro: #c94118;
$amarelo:#f0db00;
$amarelo_escuro:#f1c70a;
$vermelho:#db2822;
$vermelho_claro:#731819;
$branco:#f4f1cb;
$preto:#242424;
//Variáveis para Fontes
$fonte_principal: 'Lobster',
cursive;
$fonte_texto: Arial;
//Imports
@import '_header_social.scss';
@import 'principal.css';
@import'header_principal';
@import'menu';
@import'body';
@import'cardapio';
@import'sobre';
@import'equipe';
@import'recomendacoes';
@import'contato';
@import'footer';
@import'pedidoModal';